@charset "utf-8";
/* CSS Document */

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #FFFFFF;
  text-align: left;
  background-color: #000000;
  background-image: url("../images/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  line-height: 1.15;
	min-width:480px;
}

h1 {
	font-family: 'Iceberg', sans-serif;
	color:rgba(255,255,255,1.00);
	margin-right: .7em;
	margin-left: .4em;
	font-size: 3em;
	text-shadow: 0 0 5px #000000;
}

h2 {
	font-family: 'Tulpen One', sans-serif;
	color:rgba(255,255,255,1.00);
	margin-right: .7em;
	font-size:3em;
    letter-spacing: .05em;
	font-weight: 350;
	margin: .2em;
}
h3 {
	font-family: 'Iceberg', sans-serif;
	color:rgba(255,255,255,1.00);
	margin-right: .7em;
	font-size:2.2em;
}
html{
	scroll-behavior: smooth;
}

.bg-light {
  background-color: rgba(37,37,37,0.92) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-family: 'Tulpen One', sans-serif;
  font-size:3em; 
  letter-spacing: .1em;
  font-weight: 350;
  text-shadow: 0 0 5px #000000;
}
.navbar-light {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color:rgba(177,212,223,1.00)
	
}
s
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(175,175,175,1.00);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(225,225,225,1.00);
}
.navbar-light .navbar-toggler {
  color: rgba(255,255,255,1.00);
  border-color: rgba(255,255,255,1.00);
	border-width: .2em;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, .7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-item {
  margin-right: 2em;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 9999;
  cursor: pointer;
}
#quoteText{
  font-family: 'Raleway', sans-serif;
  line-height: 1.15;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.8em;
  color: #FFFFFF;
  min-width: 450px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);	
}
a {
	color:rgba(193,234,255,1.00);
}

a:link {
	color:rgba(193,234,255,1.00);
}

a:visited {
    color:rgba(186,203,208,1.00);
}

a:hover {
    color:rgba(177,212,223,1.00);
}

a:active {
	color:rgba(177,212,223,1.00);
} 
.contentClass{	
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: rgba(221,221,221,0.1);
	border-radius: 10px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1.5em;
	padding-left: 2em;
	line-height: 1.5;
}
h4{
	text-align: center;
	left: 50%;
	font-size: 1em;
}
h5{
    font-family: 'Raleway', sans-serif;
}
h6{
    font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	letter-spacing: .3em;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 80%;
  padding: 0;
  overflow: visible;
  margin-left:auto;
  margin-right: auto;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  border: 0;
  transition: height 1s ease;
}
p
{
	margin-top: 1em;
	margin-bottom: 1em;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
.carousel {
  position: relative;
	margin-bottom: 1.2em;
}
#bioJump::before, #videoJump::before, #musicJump::before, #photoJump::before, #contactJump::before { 
	display: block;
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
  pointer-events: none;
}